<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>


</head>
<body>


<div ng-app="travelApp" ng-controller="placesController">
  <h2>Add new place</h2>
  <form>
    <label>Place <input type="text" ng-model="place"></label>
    <label>Country <input type="text" ng-model="country"></label>
    <input type="submit" value="Add Place" ng-click="addNewPlace(place, country)">
  </form>

  <h2>Your travel list</h2>

  <ul>

    <li ng-repeat="place in places">

      <span>{{ place.name }} in {{ place.country }} </span>
      <input type="checkbox" ng-click="visited(place)">

    </li>

  </ul>

  <!--TODO a list of where you've been  -->

</div>

<!--scripts-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="javascripts/angular/travelApp.js"></script>
<script src="javascripts/angular/controllers/placesController.js"></script>

</body>
</html>